@mixin blinkAnimation($color) {
  outline: 2px solid $color;
  animation: blink-#{$color} 1s infinite;
}

@mixin blinkColor($color) {
  @keyframes blink-#{ "" + $color} {
    0% {
      outline-color: $color;
    }

    49.9% {
      outline-color: $color;
    }

    50% {
      outline-color: transparent;
    }

    100% {
      outline-color: transparent;
    }
  }
}

@include blinkColor(red);
@include blinkColor(gold);

ul > :not(li),
ol > :not(li) {
  content: "<ul>タグ、<ol>タグの直下に入れられるのは<li>タグだけです";

  @include blinkAnimation(red);
}

dl > :not(dt):not(dd):not(div) {
  content: "<dl>タグ、タグの直下に入れられるのは<dt>,<dd>,および<div>タグだけです";

  @include blinkAnimation(red);
}

a[name] {
  content: "name属性はHTML5で廃止されました";

  @include blinkAnimation(red);
}

a[href="javascript:void(0)"] {
  content: "<a>タグは移動するためだけに使用するべきです";

  @include blinkAnimation(gold);
}

a[target="_blank"]:not([rel="noreferrer noopener"]) {
  content: 'target="_blank"の場合は悪用を防ぐためにもrel="noreferrer noopener"の使用を推奨します';

  @include blinkAnimation(gold);
}

img:not([alt]),
img[alt=""] {
  content: "画像がコンテンツの中で重要でない限り、alt属性を入力することを強く推奨します";

  @include blinkAnimation(gold);
}

img:not([width]),
img[width=""],
img:not([height]),
img[height=""] {
  content: "画像のサイズを入力しておくと、読み込む前に場所を確保し、読み込み後のレイアウトが変わるのを抑制できます";

  @include blinkAnimation(gold);
}

:root iframe:nth-of-type(4) {
  content: "連続して4つ以上のiframeが設置されています。iframeが複数あるとパフォーマンスに影響を与えます";

  @include blinkAnimation(gold);
}

time:not([datetime]),
time[datetime=""] {
  content: "datetime属性がない場合、タグ内に妥当な値が入力されていますか？";

  @include blinkAnimation(gold);
}

time:not([datetime]) *,
time[datetime=""] * {
  content: "datetime属性がない場合、タグ内に子孫要素をもってはいけません";

  @include blinkAnimation(red);
}

font,
center,
frame,
blink,
marquee,
*[align],
*[color],
*[bgcolor],
*[border],
*[background] {
  content: "古いタグや属性が使用されています。古いタグの使用はやめ、装飾はCSSで行うようにしましょう";

  @include blinkAnimation(red);
}

hgroup > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  content: "hgroupタグ内で許可されているのはh1～h6タグです";

  @include blinkAnimation(red);
}

table > * ~ caption {
  content: "capptionタグはtableタグの最初の子要素として配置しなくてはなりません";

  @include blinkAnimation(red);
}

br + br {
  display: none;
}
